[Desktop Entry]
Encoding=UTF-8
Name=Link to Building Applications with React and Redux in ES6 | Pluralsight
Type=Link
URL=https://app.pluralsight.com/library/courses/react-redux-react-router-es6/exercise-files
Icon=text-html
